extends layout

block content
  div.control-group
    input.text-field#player_name
    button#set-name Set name
    div.game-status#game_status
    div.oponent
    div.score
      span.own
      span :
      span.rival
    div.result
  canvas#board Reload page
  div.logo
  div.indicator
    input.knob.power-indicator(type='text', data-min='0',  data-max="100", data-width="75", data-bgColor="#eee", data-fgColor="#AF5200")
