body {
  position: absolute;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  text-rendering: optimizelegibility;
}

.control-group {
  position: absolute;
  margin: 20px;
}

.text-field {
  width: 150px;
}

.game-status {
  color: green;
  margin: 10px 0;
  font-size: 16px;
  font-family: Arial;
}

.score {
    font-size: 24px;
}

.logo {
  background-image: url(../images/logo.jpg);
  height: 174px;
  width: 288px;
  position: absolute;
  right: 0;
  top: 0;
}

.own {
    color: red;
}

.rival {
    color: black;
}

.status {
    font-size: 20px;
}

.win {
    color: red;
}

.loose {
    color: green
}

.indicator {
  position: absolute;
  top: 72%;
  right: 22%;
  z-index: 100;  
}

.score {
    display: none;
}