body {
  position: absolute;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.control-group {
  position: absolute;
  margin: 20px;
}

.text-field {
  width: 150px;
}

.game-status {
  color: green;
  margin: 10px 0;
  font-size: 12px;
  font-family: Arial;
}